<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<http auto-config="true">
		<intercept-url pattern="/user/**" access="ROLE_USER"></intercept-url>
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN"></intercept-url>
		<form-login login-page="/login/showLogin" authentication-failure-url="/denied"
			username-parameter="username" password-parameter="password"
			default-target-url="/login/showLogin" />
		<logout invalidate-session="true" logout-success-url="/login/showLogin"
			logout-url="/j_spring_security_logout" />
		<access-denied-handler error-page="/denied" />
		<session-management invalid-session-url="/login/showLogin">
			<concurrency-control max-sessions="1"
				expired-url="/login/showLogin" />
		</session-management>
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service properties="/WEB-INF/user.properties" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>
